# output files
*.o
*.qvm
build
run
filescan
test_bytestream
test_general

# debugging output from compilter
tokens.txt
strings.txt
ir.txt
functions.txt
data.txt
bytecode.txt
asm.txt

# system files
.vscode
.DS_Store
